<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reseter-Failure</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    <style>



    </style>
</head>
<section class="hero is-danger is-fullheight">
  
  <div class="hero-body">
    <div class="">
      <p class="title">
        Oops! Something went wrong...
      </p>
      
      <h2>
       <p class="subtitle">
          <li>Make sure you are using the correct credentials.</li>
          <li>Only upload files formatted as <code>.csv</code>.</li> 
          <li>Unsure? Ask the API Support team for further help.</li>
      </p>
      </h2>

    </div>

  </div>
</section>
</html>